<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Basketball Team sign-up</h1>
   <form method ="POST" action='/team'>
     <!-- Team name ('name')
     Coach ('coach')
     Point Guard ('pg')
     Shooting Guard ('sg')
     Power Forward ('pf')
     Small Forward ('sf')
     Center ('c') -->
     <label for = 'team'>Team Name:
     <input type = 'text' id='team' name="name"/></lable></br>
     <label for = 'coach'>Coach
     <input type = 'text' id='coach' name="coach"/></label></br>
     <label for = 'pg'>Point Guard:
     <input type = 'text' id='pg' name="pg"/></label></br>
     <label for = 'sg'>Shooting Guard:
     <input type = 'text' id='sg' name="sg"/></label></br>
     <label for = 'pf'>Power Forward:
     <input type = 'text' id='pf' name="pf"/></label></br>
     <label for = 'sf'>Small Forward:
     <input type = 'text' id='sf' name="sf"/></label></br>
     <label for = 'c'>Center
     <input type = 'text' id='c' name="c"/></label></br>
     <input type="submit" value="Submit" id='Submit'>





   </form>
 </body>
</html>
