<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1> Create a Basketball Team </h1>
 <form method="POST" action="/team">
    <li>
    <ul><label> Team Name: <input type="text" name="name"> </label></ul>
    <ul><label> Coach: <input type="text" name="coach"> </label></ul>
    <ul><label> Point Guard: <input type="text" name="pg"> </label></ul>
    <ul><label> Shooting Guard: <input type="text" name="sg"> </label></ul>
    <ul><label> Small Forward: <input type="text" name="sf"> </label></ul>
    <ul><label> Power Forward: <input type="text" name="pf"> </label></ul>
    <ul><label> Center: <input type="text" name="c"> </label></ul>
    <input type="submit" id="Submit">
    </li>
 </form>
 </body>
</html>


